<div class="grid" *ngIf="meeting">

    <div class="col-12">
        <h2>{{meeting.meetingTopic}}</h2>
        <hr/>
    </div>


    <div class="col-12" style="text-align: right">

        <button
            pButton
            icon="pi pi-plus"
            (click)="showCreateSessionDialog()"
            label="CREATE SESSION"></button>

        <meeting-menu-button></meeting-menu-button>


    </div>

    <div class="col-4 lg:col-2">
        <p-card>
            <div style="text-align:center">
                <label>TODOS</label>
                <div *ngIf="todos">
                    <app-counter-label [style]="{fontSize:'3em'}" [target]="todos.todoCounter - todos.finishedTodoCounter"></app-counter-label>
                </div>
            </div>
        </p-card>
    </div>

    <div class="col-4 lg:col-2">
        <p-card>
            <div style="text-align:center">
                <label>SESSIONS</label>
                <div>
                    <app-counter-label [style]="{fontSize:'3em'}" [target]="meeting.session.count"></app-counter-label>
                </div>
            </div>
        </p-card>
    </div>

    <div class="col-4 lg:col-2">
        <p-card>
            <div style="text-align:center">
                <label>PARTICIPANTS</label>
                <div>
                    <app-counter-label [style]="{fontSize:'3em'}" [target]="meeting.participants.length"></app-counter-label>
                </div>
            </div>
        </p-card>
    </div>

    <div  class="col-12 md:col-12 lg:col-6">
        <wdys-meeting-date-range *ngIf="meeting"></wdys-meeting-date-range>
    </div>

    <div class="col-12 md:col-12 lg:col-12">
        <p-panel header="PARTICIPANTS">
            <app-meeting-participant [participants]="meeting.participants"></app-meeting-participant>
        </p-panel>
    </div>

    <div class="col-12">
        <p-messages severity="info">
            <ng-template pTemplate>
                <button pButton
                        (click)="open(lastSession())"
                        label="RECENT SESSION"
                        [routerLink]="['/wdys/meetings',lastSession().meetingId,'session',lastSession().meetingSessionId]"
                        icon="pi pi-link"></button>
                <div class="ml-2" style="font-size: 1.4em;">{{lastSession().description}}</div>
            </ng-template>
        </p-messages>

    </div>

    <div *ngIf="todos" class="sm:col-12 md:col-12 lg:col-5 layout-dashboard">
        <wdys-meeting-todo-view [showOnlyOpen]="root.mobile" ></wdys-meeting-todo-view>
        <wdys-meeting-activities></wdys-meeting-activities>
    </div>

    <div class="col-12 md:col-12 lg:col-7">
        <wdys-meeting-session-list></wdys-meeting-session-list>
    </div>


</div>
