button{
    width: 100%;
}

.wdys-button-card{
    background:#0288D1;
    width: 100%;
    height: 5.2rem;
    text-align: center
}

.wdys-button-icon{
    font-size: 2rem;
    color: snow;
    margin-top: 1rem;
}


.booking{
    background: #6ebe71;
}

.delete{
    background: #d21f00;
}
