<div *ngIf="meeting" class="meeting-print">

    <table  class="print-table">
        <tr>
            <td>TOPIC</td>
            <td>{{meeting.meetingTopic}}</td>
        </tr>
        <tr>
            <td>DATE</td>
            <td>{{session.meetingDate | date:'dd.MM.yyyy H:mm'}}</td>
        </tr>
        <tr>
            <td>PARTICIPANTS</td>
            <td>
                <label class="print-participant" *ngFor="let p of session.participants">{{p.fullName}},</label>
            </td>
        </tr>
    </table>

    <h2 style="text-align: center">
        {{session.description}}
    </h2>

    <h4>NOTES</h4>
    <div>

        <table class="print-table">
            <tr *ngFor="let n of notes">
                <td style="width: 100px;">
                    <label>{{n?.participant?.fullName}}</label>
                </td>
                <td style="width: 80px; text-align: center">
                    {{n.created | date:'dd.MM.yyyy'}}
                </td>
                <td style="width: calc(100% - 180px)">
                    <label>{{n.note.value}}</label>
                </td>
            </tr>
        </table>


    </div>

    <label>:-D</label>

</div>



<div *ngIf="meeting">



    <div class="grid">

        <div class="col-12">
            <p-panel [header]="meeting.meetingTopic">

                <p-header>
                    <p-chip [style]="{fontSize:'1.2em'}" icon="pi pi-calendar" [label]="session?.meetingDate | date:'dd.MM.yyyy' "></p-chip>
                </p-header>

                <p-inplace [closable]="true" >
                    <ng-template pTemplate="display">
                        <label style="font-weight: bold; font-size: 2.1rem;">{{session?.description}}</label>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <input #newDescription [style]="{width:'calc(100% - 70px' , fontWeight:'bold'}" type="text" [ngModel]="session?.description" pInputText>
                        <button pButton
                                icon="pi pi-pencil"
                                (click)="updateDescription(newDescription.value)"></button>
                    </ng-template>
                </p-inplace>
            </p-panel>
        </div>

        <div class="col-12">
                <div class="grid">
                    <div class="col-4 lg:col-2" [class.lg:col-offset-5]="!meetingView.mobile">
                        <app-time-tracking-card [meetingId]="meeting.id" [sessionId]="session.meetingSessionId"></app-time-tracking-card>
                    </div>
                    <div class="col-4 lg:col-2">
                        <wdys-share-session-button [card]="true"></wdys-share-session-button>
                    </div>
                    <div class="col-4 lg:col-2">
                        <wdys-delete-session-button card="true" [session]="session.meetingSessionId"></wdys-delete-session-button>
                    </div>

                </div>

        </div>

        <div class="col-12" [class.lg:col-4]="!meetingView.mobile">
            <wdys-session-participant-table ></wdys-session-participant-table>
        </div>


        <div class="col-12" [class.lg:col-8]="!meetingView.mobile">
            <p-accordion [activeIndex]="0" >
                <p-accordionTab header="NOTES">
                    <wdys-session-note></wdys-session-note>
                </p-accordionTab>
                <p-accordionTab header="TODOS">
                    <wdys-session-todo [showHeader]="meetingView.mobile"></wdys-session-todo>
                </p-accordionTab>
                <p-accordionTab header="TIME">
                    <wdys-session-time-tracking></wdys-session-time-tracking>
                </p-accordionTab>
            </p-accordion>
        </div>

    </div>

</div>





