<div *ngIf="selected">

    <div class="grid">

        <div class="col-12">
            <p-panel>
                <h2>{{selected.fullName}}</h2>
            </p-panel>
        </div>

        <div class="col-6">
            <p-panel>
                {{selected.mail.value}}
            </p-panel>
        </div>
        <div class="col-6">
            <p-panel>
                {{selected.firstName}}
                {{selected.lastName}}
            </p-panel>
        </div>

        <div class="col-12">
            <app-wdys-participant-detail-note></app-wdys-participant-detail-note>
        </div>

        <div class="col-12">
            <wdys-participant-detail-sessions></wdys-participant-detail-sessions>
        </div>

    </div>

</div>
